{% extends "layouts/page.html" %}
{% block body %}

<h1>Adatvédelem</h1>
<p>A jelen adatvédelmi nyilatkozat (Nyilatkozat) tartalmazza a {{ config['SITE']['owner'] }} (a továbbiakban:
    Üzemeltető)
    által
    üzemeltetett, a {{ config['SITE']['url'] }} doménnéven elérhető oldalak, aloldalak és szolgáltatások (együttesen:
    Szolgáltatás) keretében végzett személyes adatok kezelésére vonatkozó szabályokat, valamint az adatkezelésre
    vonatkozó
    tájékoztatást. A Szolgáltatás technikai hátterét az Üzemeltető biztosítja, a szervereken elhelyezett szoftverek
    üzemeltetését maga végzi.</p>

<p>A Szolgáltatás használatának megkezdésével a felhasználók elfogadják a jelen Nyilatkozat feltételeit. A jelen
    adatvédelmi nyilatkozatra mutató hivatkozás folyamatosan elérhető a Szolgáltatás nyitóoldalán.</p>


<h2>Adatkezelő személye</h2>
<p>A Szolgáltatással összefüggésben kezelt személyes adatok tekintetében az adatkezelő az Üzemeltető, további
    adatfeldolgozót nem vesz igénybe. Az Üzemeltető által kezelt személyes adatokat kizárólag az Üzemeltető és annak
    munkavállalói ismerhetik meg. A Szolgáltatás felhasználóira vonatkozó adatok az Üzemeltető szerverein kerülnek
    tárolásra.</p>
<h2>Adatkezelésre vonatkozó tájékoztatás</h2>

<h3>A honlap látogatottsági adatainak kezelése</h3>
<p>A Szolgáltatást igénybe vevők számítógépeinek egyes adatai, IP címei a honlap-látogatottsági adatok generálása és a
    Szolgáltatás megfelelő működtetésének biztosítása céljából naplózásra kerülnek. Ezek az adatok bizonyos esetekben
    személyes adatoknak minősülnek. A naplófájlokról statisztika készül, a naplóállományok maximum egy évig kerülnek
    tárolásra az Üzemeltető szerverén. A felhasználók IP címeit az Üzemeltető semmilyen olyan más adathoz nem köti,
    amely
    alapján a felhasználó személye azonosítható lenne.</p>

<h3>Cookie-k és web beaconök elhelyezése, célja</h3>
<p>A Szolgáltatás egyes részeinek használatakor az Üzemeltető kisméretű, a felhasználóval közvetlenül kapcsolatba nem
    hozható adatokat is tartalmazó adatfájlokat (ún. cookie-kat) telepít a felhasználó számítógépére adatfeljegyzés, a
    felhasználó azonosítása, a felhasználó további látogatásainak megkönnyítése, a Szolgáltatás hatékonyságának növelése
    <!--, az adott felhasználó számára célzott reklám vagy egyéb célzott tartalom eljuttatása vagy piackutatás -->
    céljából.
    Az adatfájlok használatának eredményeképpen az Üzemeltetőhöz került adatokat az Üzemeltető nem kapcsolja az adott
    felhasználó azonosító adataihoz. Az ún. session cookie-k a cookie-kben beállított határidő végével automatikusan
    törlődnek.
</p>

<p>A felhasználónak böngészőjében a cookie-k vonatkozásában az alábbi lehetőségei vannak:</p>
<ul>
    <li>Beállíthatja, hogy értesítést kapjon arról, ha az Üzemeltető cookie-t kíván elhelyezni a számítógépén.</li>
    <li>A cookie-k küldését bármikor megtilthatja.</li>
</ul>

<p>E körben kiemelendő, hogy a cookie-k el nem fogadása azt eredményezi, hogy ezzel összefüggésben bizonyos oldalak vagy
    funkciók nem működnek megfelelően, valamint lehetséges, hogy a felhasználó nem kap jogosultságot bizonyos adatokhoz
    való hozzáféréshez. A cookie-kal kapcsolatos további információ a <a href="http://www.cookiecentral.com"
        target=_blank>http://www.cookiecentral.com</a> címen érhető el.</p>

<p>Az Üzemeltető által elhelyezett cookie-kon túl a felhasználó gépére harmadik személyek is telepíthetnek adatfájlokat.
    Ilyen eset lehet például ha a felhasználó a Szolgáltatás keretén belül ellátogat egy másik weboldalra.</p>
<p>Az Üzemeltető jelen honlapon web beaconöket nem alkalmaz.</p>

<h2>Az adatkezelés célja</h2>

<p>A Szolgáltatással összefüggésben az Üzemeltető által végzett adatkezelések célja:</p>
<ul>
    <li>A Szolgáltatás hatékonyságának növelése.</li>
    <li>A regisztrált felhasználók azonosítása.</li>
    <li>A Szolgáltatás használatával kapcsolatban felmerült viták rendezése.</li>
    <li>Felvilágosítás nyújtása regisztrált felhasználók részére a Szolgáltatás működésével kapcsolatosan (például
        technikai jellegű üzenetek, a Szolgáltatás módosulásával kapcsolatos információk stb.).</li>
    <li>Működési problémák elhárítása.</li>
</ul>

<h2>Adattovábbítások, harmadik személyek adatkezelései</h2>

<p>Az Üzemeltető kifejezett jogszabályi rendelkezés hiányában csak az adott felhasználó kifejezett hozzájárulásával adja
    át harmadik személyeknek a személyes azonosítására alkalmas adatokat. Ugyanez igaz az adatfájlok használatával az
    Üzemeltető kezelésébe került adatokra. Az egyes személyes adatok harmadik személyekkel való közlésére az alábbi
    esetekben is sor kerülhet:</p>

<ul>
    <li>A regisztrált felhasználók felhasználóneve nyilvános adat, tehát bárki számára hozzáférhető. A regisztrált
        felhasználók Szolgáltatás keretében kifejtett tevékenységét a felhasználóneve alapján bárki visszakeresheti.
        Abból
        akár személyes adatnak minősülő következtetések is levonhatóak, mindemellett lehetséges, hogy maga a felhasználó
        fedi fel saját maga személyazonosságát személyes azonosítását lehetővé teszi. A felhasználók továbbá elérhetővé
        tehetik e-mail címüket és más adataikat a we
        Az ilyen adatok nyilvánossá tétele kizárólag az adott felhasználó saját döntése alapján történik, erre
        tekintettel
        személyes adatok önkéntes nyilvánosságra hozatalának minősül. Az ilyen nyilvánosságra hozatal esetében a
        felhasználóknak tudatában kell lenniük azzal, hogy a nyilvánosságra hozott adatokkal bárki visszaélhet. Ezt az
        Üzemeltető nem tudja megakadályozni.</li>

    <li>A Szolgáltatás keretén belül észlelt gyanús vagy jogsértő tevékenységekkel kapcsolatban az Üzemeltető jogosult
        felhívásokat vagy közleményeket küldeni vagy közzétenni, akár az egyes felhasználók adatainak felhasználásával.
    </li>

    <li>A Szolgáltatás meghatározott részeit (például reklámok megjelenítése, látogatottsági statisztikák készítése) az
        Üzemeltető adott esetben szerződéses partnereivel (alvállalkozóival) is végeztetheti. Ilyen esetekben
        előfordulhat,
        hogy az ilyen szerződéses partnerek részére egyes felhasználói adatok átadásra kerülhetnek. Mindemellett az
        ilyen
        szerződéses partnert titoktartási kötelezettség terheli.</br>
        Ezen szerződéses partnerek az önkéntesség elvének megfelelően csak az egyes felhasználók hozzájárulásával saját
        jogukon és saját céljaikra is gyűjthetnek felhasználói adatokat, a jogszabályoknak és az adott személy vagy
        társaság
        saját adatvédelmi nyilatkozatában foglaltaknak megfelelően.</li>

    <li>Az Üzemeltető együttműködik a nyomozati jogkörrel rendelkező szervekkel és a bíróságokkal a Szolgáltatás keretén
        belül elkövetett jogsértések (például csalás, szellemi alkotásokhoz fűződő jogok megsértése) felderítése és
        szankcionálása érdekében, és teljesíti a jogszabályi rendelkezésen alapuló adatkéréseket.</li>
</ul>

<h2>Adatbiztonság</h2>

<p>Bár az Üzemeltető az iparági standardoknak megfelelő biztonsági intézkedéseket foganatosít ennek biztosítására, nem
    garantálja, hogy a felhasználók a Szolgáltatás keretében kifejtett tevékenységével kapcsolatos vagy a Szolgáltatáson
    belül megjelenített személyes adatai kizárólag a jelen adatvédelmi nyilatkozatban meghatározott módokon kerülnek
    kezelésre. Harmadik személyek, vagy akár más felhasználók is képesek lehetnek arra, hogy jogellenesen az adatvédelmi
    és személyiségi jogokat védő jogszabályi rendelkezések oltalma alá tartozó üzeneteket vagy adatokat hallgassanak le
    vagy fürkésszenek ki. Ezen felül a felhasználó is megadhatja személyes adatait harmadik személyeknek, akik azt
    jogellenes célra vagy módon is felhasználhatják.</p>

<p>A felhasználókat kizárólagos felelősség terheli a személyes azonosítójuk és jelszavuk használatáért, ideértve az
    azonosító és a jelszó használatával összefüggő valamennyi tevékenységért. Ebből kifolyólag javasolt az ilyen
    azonosító
    felhasználóhoz való kapcsolódásának tényét és a felhasználói névhez kapcsolódó jelszót titokban tartani. Amennyiben
    a
    felhasználó ezeket az adatokat mégis felfedi egy harmadik személy számára, ennek következtében elveszítheti a
    Szolgáltatás keretében az Üzemeltető által kezelt adatai feletti rendelkezés lehetőségét.</p>

<h2>Záró rendelkezések</h2>

<h3>Jogok gyakorlása, jogorvoslat</h3>

<ul>
    <li>Felvilágosítás. A felhasználók jogosultak személyes adataik kezeléséről, felhasználásáról tájékoztatást kérni az
        &#105;&#110;&#102;&#111;&#064;&#108;&#105;&#110;&#117;&#120;&#045;&#115;&#122;&#101;&#114;&#118;&#101;&#114;&#046;&#104;&#117;
        e-mail címen.</li>
    <li>Adatmódosítás, adattörlés. A Szolgáltatás keretén belül a regisztrált felhasználóknak lehetőségük van az általuk
        megadott adatok módosítására és javítására, amely funkciót a személyes fiókjukba (account) történő bejelentkezés
        útján érhetnek el. A regisztrált felhasználó írásban, az alábbi e-mail címre elküldött levélben kérheti fiókja
        megszüntetését vagy adatai törlését:
        &#105;&#110;&#102;&#111;&#064;&#108;&#105;&#110;&#117;&#120;&#045;&#115;&#122;&#101;&#114;&#118;&#101;&#114;&#046;&#104;&#117;.
    </li>
    <li>Jogorvoslat. Az a felhasználó, aki úgy érzi, hogy az Üzemeltető megsértette személyes adatai védelméhez való
        jogát, igényét polgári bíróság előtt érvényesítheti, vagy kérheti az adatvédelmi biztos segítségét is. Az erre,
        valamint az adatkezelő kötelezettségeire vonatkozó részletes törvényi rendelkezéseket a személyes adatok
        védelméről
        és a közérdekű adatok nyilvánosságáról szóló 1992. évi LXIII. törvény tartalmazza.</li>
</ul>

<h3>Felelősség</h3>

<p>Az Üzemeltető a felhasználók által a Szolgáltatás keretén belül tárolt, elérhetővé- vagy közzétett és küldött
    információkért mindennemű felelősségét kizárja.</p>

<p>Amennyiben az Üzemeltető tudomást szerez arról, hogy a felhasználó valamely harmadik személy jogait vagy a
    jogszabályokat sértő módon a Szolgáltatás használata során más személy személyes adatait adja meg, a Szolgáltatáson
    belül nyilvánosan hozzáférhető vagy jogellenesen megszerzett személyes vagy egyéb adatokat harmadik személyek jogait
    vagy jogszabályt sértő módon használja vagy egyébként a jelen adatvédelmi nyilatkozatban foglalt rendelkezéseket
    megszegte illetve a Szolgáltatás használata során kárt okozott, az Üzemeltető megteszi a szükséges lépéseket a kár
    megtérítése, illetőleg a jogi úton történő felelősségre vonás érdekében.</p>

<h3>Módosítás</h3>

<p>Az Üzemeltető fenntartja a jogot a jelen adatvédelmi nyilatkozat módosítására. Módosítás esetében az Üzemeltető a
    módosított nyilatkozatot elérhetővé teszi a Szolgáltatás nyitóoldalán.</p>

<p>Utolsó módosítás: 2016.06.12.</p>
{% endblock %}